.review-container {
    text-align: center;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(162, 148, 20, 0.5)
}

.review-container h2 {
    color: #e2b616;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.review-container div {
    margin-bottom: 15px;
}

.review-container span {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f5f5f5
}

.review-container input {
    width: 100%;
    padding: 10px;
    border: 0.5px solid #e2b616;
    border-radius: 5px;
    background-color: lightgray;
    color: #f5f5f5;
    font-size: 1rem;
}

.review-container button {
    background-color: #e2b616;
    color: #1a1a1a;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.review-container button:hover {
    background-color: #ff204e;
    color: white;
    box-shadow: 0 0 10px rgba(255, 32, 78, 0.7);
}

ul {
    color: white;
}



@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1
    }
}
