body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 50px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

footer {
    padding: 20px;
    display: flex-start;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: auto;

}
menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
    padding: 0 0.8em;
}

footer a {
    float: center;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1
    }
}