.profile-container {
    text-align: center;
    padding: 20px;
}

.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.logout-link {
    border: none;
    background-color: #ff204e;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.logout-link:hover {
    background-color: #e2b616;
    color: #1a1a1a;
    text-decoration: none;
} 

.movie-quote-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center
}

.movie-quote-card {
    text-align: center; 
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.movie-quote-card h4 {
    font-size: 1.5rem;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 5px;
}

.movie-quote-card p {
    font-size: 1rem;
    color: #e2b616;
    margin-bottom: 10px;
    font-style: italic;
    max-width: 120px;
    word-wrap: break-word;
}

.movie-quote-card img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
    width: 120px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
}

.movie-quote-card img:hover {
    transform: scale(1.1);;
}

.username {
    color: #1dbf73;
}

h3 {
    color: #e2b616;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1
    }
}